body {
  font-family: Montserrat, Tahoma, Arial, sans-serif;
  display: flex;
}

#page-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#txtSolved {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}

#board {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.square {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  max-width: 80%;
  max-height: 80%;
}

.theme-default.light {
  background-color: #DEE3E6;
}

.theme-default.dark {
  background-color: #8CA2AD;
}

.theme-candy.light {
  background-color: #F9E3E3;
}

.theme-candy.dark {
  background-color: #F9C3C3;
}

.theme-wood.light {
  background-color: #f0d9b5;
}

.theme-wood.dark {
  background-color: #b48863;
}

.theme-emerald.light {
  background-color: #eeeed3;
}

.theme-emerald.dark {
  background-color: #759656;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  max-height: 100%;
}

.highlight {
  /* put a small black circle in the middle of the square */
  background-image: radial-gradient(circle, black 5%, transparent 30%);
}

.square img {
  width: 100px;
  height: 100px;
}

.text {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letter-label {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.number-label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.my-swal {
  background-color: green;
  background: rgba(255, 255, 255, .5);
}

.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}
