@import url('https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css');
@import url('https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat, Tahoma, Arial, sans-serif;
}

.puzzle-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.theme-mode-dark {
  --text: #fff;
  --background1: #000;
  --background2: #111;
  --background3: #222;
  --background4: #333;
  --background5: #444;

  background-color: var(--background1);
  color: var(--text);
}

.theme-mode-light {
  --text: #000;
  --background1: #fff;
  --background2: #eee;
  --background3: #ddd;
  --background4: #ccc;
  --background5: #bbb;

  background-color: var(--background1);
  color: var(--text);
}

.github-fork-ribbon:before {
  background-color: #000;
}

.about-link {
  text-decoration: underline;
  color: #2563eb;
}

.vercel-banner-container {
  margin-bottom: 1rem;
}

.vercel-banner {
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.vercel-btn {
  width: 150px;
  margin-top: 15px;
}
